<form class="party-box" method="post" action="/submit-guest-list">
  <h2>Guest list</h2>
  <div class="guest-list-container">
    <%- include('guestList/guestListModalContents') %>
  </div>
  <div class="submit-button-container">
    <input
      class="guest-list-submit hidden"
      type="submit"
      value="Submit details"
    />
  </div>
  <div class="submit-button-container guest-list-add">
    <input class="guest-list-add" type="button" value="Add a new guest" />
  </div>
</form>
