<div class="header-grid-container">
  <div class="header-links-container">
    <div class="linkBlank"></div>
    <a href="https://www.linkedin.com/in/gchristmas/" class="link1">
      <img src="/assets/LI.png" class="social-media-logo" />
    </a>
    <a href="https://github.com/GlennChristmas" class="link2">
      <img src="/assets/GH.png" class="social-media-logo-invert" />
    </a>
  </div>
  <div class="title-container">Solar Age Calculator</div>
</div>
