<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <form class="birthdate-form">
      <h3>Please enter your birthdate</h3>
      <input type="date" />
      <input type="submit" value="Submit" />
    </form>
    <div class="planet-age-boxes-container">
      <div class="planet">
        <img src="/assets/nasa-mercury.jpg" class="planet-image" />
        <div class="planet-age">mercury age</div>
        <div class="planet-details-1">mercury details 1</div>
        <div class="planet-details-2">mercury details 2</div>
      </div>
      <div class="planet">
        <img src="/assets/nasa-venus.jpg" class="planet-image" />
        <div class="planet-age">venus age</div>
        <div class="planet-details-1">venus details 1</div>
        <div class="planet-details-2">venus details 2</div>
      </div>
      <div class="planet">
        <img src="/assets/nasa-earth.jpg" class="planet-image" />
        <div class="planet-age">earth age</div>
        <div class="planet-details-1">earth details 1</div>
        <div class="planet-details-2">earth details 2</div>
      </div>
      <div class="planet">
        <img src="/assets/nasa-mars.jpg" class="planet-image" />
        <div class="planet-age">mars age</div>
        <div class="planet-details-1">mars details 1</div>
        <div class="planet-details-2">mars details 2</div>
      </div>
      <div class="planet">
        <img src="/assets/jupiter.jpg" class="planet-image" />
        <div class="planet-age">jupiter age</div>
        <div class="planet-details-1">jupiter details 1</div>
        <div class="planet-details-2">jupiter details 2</div>
      </div>
      <div class="planet">
        <img src="/assets/nasa-saturn.jpg" class="planet-image" />
        <div class="planet-age">saturn age</div>
        <div class="planet-details-1">saturn details 1</div>
        <div class="planet-details-2">saturn details 2</div>
      </div>
      <div class="planet">
        <img src="/assets/nasa-uranus.jpg" class="planet-image" />
        <div class="planet-age">uranus age</div>
        <div class="planet-details-1">uranus details 1</div>
        <div class="planet-details-2">uranus details 2</div>
      </div>
      <div class="planet">
        <img src="/assets/nasa-neptune.jpg" class="planet-image" />
        <div class="planet-age">neptune age</div>
        <div class="planet-details-1">neptune details 1</div>
        <div class="planet-details-2">neptune details 2</div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
