<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap"
      rel="stylesheet"
    />
    <title>Party Planning</title>
  </head>
  <body>
    <div class="party-planner-page-container">
      <%- include('partials/header') %>
      <div class="party-planner-data-entry"></div>
      <div class="party-planner-invite-list"></div>
      <div class="party-planner-cocktaiil-creator"></div>
      <div class="party-planner-rspv-generator"></div>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
