.header-grid-container {
  width: 100%;
}

.header-links-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  background-color: black;
}

.linkBlank {
  flex: 30;
}

.link1 {
  flex: 1;
  text-align: right;
}

.link2 {
  flex: 1;
  text-align: right;
}

.social-media-logo {
  width: 25px;
  height: 25px;
  padding: 10px;
}

.social-media-logo-invert {
  width: 25px;
  height: 25px;
  filter: invert(1);
  padding: 10px;
}

.title-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
  background-color: black;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 3rem;
}

.birthdate-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: black;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  gap: 10px;
}

.planet-age-boxes-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, 1fr);
  background-color: black;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (max-width: 1150px) {
  .planet-age-boxes-container {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(8, 1fr);
  }
}

.planet-age-box-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 10px;
  color: white;
  font-family: "Space Grotesk", sans-serif;
}

.planet-image {
  grid-row-start: 1;
  grid-row-end: 4;
  height: 100px; /* ensure this adjusts in a step-change as screen size increases/decreases, uses media queries etc */
  width: 100px;
}

.planet-age {
  font-weight: 800;
  font-size: 2rem;
}

.footer-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  padding-top: 20px;
  background-color: black;
  height: 100px;
  font-family: "Space Grotesk", sans-serif;
  color: white;
}

.planet-parent-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}

.planet-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.planet-modal-content {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(auto, 1fr);
  padding: 20px;
  background-color: rgba(0, 0, 255, 0.579);
  color: white;
  height: 400px;
  width: 600px;
  border-radius: 20px;
  font-family: "Space Grotesk", sans-serif;
}

.planet-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  z-index: 5;
}

.planet-modal-exit-button {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 30px;
  width: 30px;
}

.party-planner-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  height: auto;
  background-color: black;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box; /* added to so that the padding 
  and border of an element are included within its specified width and height */
}

.data-entry,
.guest-list-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.question-container {
  grid-column: span 2;
}

.half-width {
  grid-column: span 1;
}

@media screen and (max-width: 1150px) {
  .party-planner-page-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

.party-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
  padding: 20px;
}

.submit-button-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.party-box input,
.party-box select {
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #333;
}

input[type="submit"]:hover {
  background-color: #d8d8d8;
}

.guest-list-container {
  position: relative; /* This is necessary for absolute positioning of the child */
  width: 100%; /* Example width */
  height: 100%; /* Example height, ensure the container has a set height */
}

.guest-list-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0px 15px 0px 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 67, 96, 0);
  z-index: 1000; /* Ensure it's above other content */
  overflow-y: scroll;
}

/* Customize the scrollbar track (background) */
.guest-list-modal::-webkit-scrollbar-track {
  background: transparent; /* Make scrollbar track transparent */
}

.hidden {
  display: none;
}
