.birthdays-background {
  width: 80%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  height: auto;
  background-color: black;
  padding-top: 50px;
}

.upcoming-birthdays-container {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: cadetblue;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  gap: 10px;
}

.upcoming-birthdays-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}

@media (max-width: 1500px) {
  .upcoming-birthdays-grid {
    grid-template-columns: repeat(1, auto);
  }
}

.upcoming-birthday-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upcoming-birthday-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #b0cc5a;
  padding: 10px;
  border: 1px solid #ccc;
  color: black;
}

@media (min-width: 1500px) {
  .upcoming-birthday-details {
    width: 500px;
  }
}

@media (max-width: 1500px) {
  .upcoming-birthday-details {
    justify-content: center;
    width: 90%;
  }
}

.upcoming-birthday-planet {
  font-weight: 800;
  font-size: 2rem;
  padding-bottom: 10px;
}

.upcoming-birthday-button {
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #333;
}

.upcoming-birthday-button:hover {
  background-color: #d8d8d8;
}
